
/*my code below*/

h1 {
  font-family: "Trirong", serif;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

h2 {
  font-family: "Trirong", serif;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}

h3 {
  font-family: "Trirong", serif;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

h4 {
  font-family: "Trirong", serif;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  text-align: justify;
  text-decoration: none;
  text-transform: capitalize;
}

p {
  font-family: "Trirong", serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  text-align: justify;
  text-decoration: none;
  text-transform: none;
}

a {
  display: block;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

body {
  margin: 0;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*grid-column-gap:1em;
  grid-row-gap:1em;
  */
  grid-gap: 2px;
}

.wrapper > div{
  background: #04A693;
  padding:16px;
}
.wrapper > div:nth-child(odd){
  background: #00F5D8;
}
